body {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    margin: 8% 33% 8% 33%;
}

.pole {
    width: 312px;
    height: 364px;
    border : 1px solid rgb(0, 0, 0);
    position: relative;
}

.vertical {
    font-size: 0;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
}

.vertical .cell.active {
    border: 1px solid rgb(0, 0, 0);
}

.selected {
    width: 50px;
    height: 50px;
    /* margin-bottom: -50px; */
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}
/* .clubs {
    background-image: url("file:///D:/card/img/diamonds.png");
    height: 50px;
    width: 50px;
    background-image: url('../img/diamonds.png');
} */
img {
    width: 50px;
    height: 50px;
    pointer-events: none; 
}
